
<div class="dashboard-container">
  <p-toast></p-toast>
  <header class="dashboard-header">
    <h2>Bienvenido/a, {{username}}</h2>
  </header>

  <section class="quick-access-cards">
    <div class="card-item" (click)="abrirModalNuevoProyecto()">
      <div class="card-icon"><i class="pi pi-folder"></i></div>
      <div class="card-content">
        <h3>NUEVO PROYECTO</h3>
        <p>Crear un proyecto</p>
      </div>
      <p-button class="action-btn" icon="pi pi-plus-circle" [text]="true" size="large"></p-button>
    </div>

    <div class="card-item" (click)="abrirModalNuevaTarea()">
      <div class="card-icon"><i class="pi pi-file"></i></div>
      <div class="card-content">
        <h3>NUEVA TAREA</h3>
        <p>Crear una nueva tarea</p>
      </div>
      <p-button icon="pi pi-plus-circle" [text]="true" size="large" class="action-btn"></p-button>
    </div>

    @if (rolActual === 'ADMIN') {
            <div class="card-item" (click)="navegarAUsuarios()">
            <div class="card-icon"><i class="pi pi-users"></i></div>
            <div class="card-content">
                <h3>USUARIOS</h3>
                <p>Usuarios activos</p>
            </div>
            </div>
        }
  </section>

  <div class="dashboard-main-content">

    <section class="chart-section dashboard-card">
      <div class="chart-header">
        <h3>RESUMEN GENERAL</h3>
        <p>Estado actual del sistema</p>
      </div>
      
      <div class="charts-grid" style="display: flex; gap: 2rem; justify-content: space-around; flex-wrap: wrap;">
        
        <div class="chart-container" style="width: 45%; min-width: 250px;">
          <h4 style="text-align: center; color: #4b5563; margin-bottom: 1rem;">Proyectos</h4>
          <p-chart type="doughnut" [data]="chartProyectos" [options]="chartOptions"></p-chart>
        </div>

        <div class="chart-container" style="width: 45%; min-width: 250px;">
          <h4 style="text-align: center; color: #4b5563; margin-bottom: 1rem;">Tareas</h4>
          <p-chart type="doughnut" [data]="chartTareas" [options]="chartOptions"></p-chart>
        </div>

      </div>
    </section>

    <section class="calendar-section dashboard-card">
      <div class="header-card">
        <div class="header-titles">
          <h3>TAREAS</h3>
          <p>Planificación de la semana</p>
        </div>
          <button type="button" class="ver-calendario-btn" (click)="navegarAlCalendario()">Ver calendario</button>
      </div>
      <div class="calendar-container-inner">
        <full-calendar *ngIf="isBrowser" [options]="calendarOptions"></full-calendar>
      </div>
    </section>

  </div> 
</div>