<div class="main-container">
  <div class="titulo-container">
    <p class="titulo-principal mb-5">
      DAW - GESTOR DE PROYECTOS
    </p>
  </div>
    <p-card styleClass="tarjeta mb-2">

        <ng-template #title>
          <div class="texto-login text-center w-full font-bold text-black pt-4 mt-1">
            Iniciar sesión
        </div>
        </ng-template>

        <form [formGroup]="form" (ngSubmit)="iniciarSesion()" class="formulario flex flex-col gap-4 w-full px-6 pb-4">

            <div class="campo flex flex-col gap-1 mt-2 w-full">
              <label class="form-text" for="nombre">Nombre de usuario</label>
              <input
                pInputText
                id="nombre"
                type="text"
                formControlName="nombre"
                placeholder="Ingresá tu usuario" />

              @if (form.controls.nombre.touched && form.controls.nombre.invalid) {
                <small class="error-message">El nombre de usuario es requerido</small>
              }
            </div>

            <div class="campo flex flex-col gap-1 mt-2 w-full">
              <label class="form-text" for="clave">Contraseña</label>
              <p-password
                inputId="clave"
                formControlName="clave"
                [feedback]="false"
                [toggleMask]="true"
                styleClass="w-full password-field"
                inputStyleClass="w-full"
                placeholder="Ingresá tu contraseña">
              </p-password>

              @if (form.controls.clave.touched && form.controls.clave.invalid) {
                <small class="error-message">La contraseña es requerida</small>
              }
            </div>

            @if (errorMessage) {
              <div class="login-error">
                {{ errorMessage }}
              </div>
            }

            <div class="boton-contenedor">
              <p-button
                label="Ingresar"
                type="submit"
                [loading]="loading"
                styleClass="boton mt-4">
              </p-button>
            </div>

        </form>
    </p-card>

</div>