.calendario-page-container {
  padding: 2rem;
  background-color: #f8fafc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.calendario-header {
  width: 100%;
  max-width: 900px; 
  margin-bottom: 1.5rem;
}

.calendario-header h2 {
  font-size: 1.5rem;
  color: #1e293b;
  margin: 0;
}

.calendario-header p {
  color: #64748b;
  margin: 0.25rem 0 0 0;
  font-size: 0.9rem;
}


.main-calendar-card {
  background: #ffffff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.05);
  
  width: 100%;
  max-width: 900px; }


::ng-deep .fc {
  font-size: 0.85rem !important; 
}


::ng-deep .fc .fc-daygrid-day-frame {
  min-height: 85px !important; 
}


::ng-deep .fc .fc-toolbar {
  margin-bottom: 1rem !important;
}

::ng-deep .fc .fc-toolbar-title {
  font-size: 1.25rem !important; 
  font-weight: 600;
  color: #334155;
}

/* Botones nativos  */
::ng-deep .fc .fc-button {
  padding: 0.4rem 0.75rem !important;
  font-size: 0.85rem !important;
}

::ng-deep .fc .fc-button-primary {
  background-color: #6366f1 !important;
  border-color: #6366f1 !important;
}

::ng-deep .fc .fc-button-primary:hover {
  background-color: #4f46e5 !important;
  border-color: #4f46e5 !important;
}

::ng-deep .fc .fc-button-active {
  background-color: #4338ca !important;
  border-color: #4338ca !important;
}